body {
    background-color: lightblue;
}

div.row {
	position: relative;
	width: 98%;
	height: 8vh;
	margin-left: 1%;
	margin-right: 1%;
}

div.element {
	margin:0;
	float: left;
	display: inline-block;
	position: relative;
	width: 5.3%;
	height: 97%;
	background-color: yellow;
	border-style: solid;
    border-width: 1px;
}

div.empty {
	margin:0;
	float: left;
	display: hidden;
	visibility:hidden;
	position: relative;
	width: 5.3%;
	height: 97%;
	background-color: yellow;
	border-style: solid;
    border-width: 1px;
}

div.element h1 {
	margin: 0;
	font-style: bold;
	font-size: 3vw;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%)
}

div.element h4.weight {
	margin: 0;
	font-size: 1.5vw;
	position: absolute;
	top: 90%;
	left: 75%;
    transform: translate(-50%, -50%)
}

div.element h4.number {
	font-size: 1.5vw;
	margin: 0;
	position: absolute;
	top: 90%;
	left: 25%;
    transform: translate(-50%, -50%)
}

